[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/gameboy-test-data"]
	path = libs/gameboy-test-data
	url = https://github.com/adtennant/gameboy-test-data
[submodule "libs/Unity"]
	path = libs/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "libs/cJSON"]
	path = libs/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c
